@font-face {
  font-family:"Dancing Script";
  src: url("Dancing Script.otf");
}
*{
  font-family: "Dancing Script";
}
header{
  background-color: #5b7989;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-between;
  animation: slidein 1s;

}

@-webkit-keyframes slidein {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}


ul{
  display: flex;
  width: 30%;
  justify-content: center;
}

li{
  width: 30%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 25px;
}

a{
  color: white;
  text-decoration: none;
}

header > h1{
  text-shadow: 2px 2px 1px #02010a;
  color: white;
  margin-left: 40px;
}

section > div{
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.S1{
  width: 65%;
  height: 80%;
}
.S2 {
  width: 65%;
  height: 80%;
  border: solid 2px;
  transition: transform 1s;
}
.S2:hover{
  transform: rotate(10deg);
}

.S3 {
  width: 65%;
  height: 80%;
  border: solid 2px;
  transition: transform 1s;
}
.S3:hover{
  transform: translate(20px,-5px);
}

#S1{
  height: 600px;
  background-color: #82c3a6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#S2{
  height: 500px;
  background-color: #d5c75f;
  display: flex;
  justify-content: space-between;
}


.P2{
  width: 80%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-decoration: underline;
}

footer{
  display:flex;
  background-color: #c6d5c5;
  justify-content: space-around;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

footer > div{
  width: 20%;
}

body{
  /* width: 900px; */
  /* margin-left: 20%; */
  background-color: #02010a;
}

@media (max-width:900px) {

  #S2{
    flex-wrap: wrap;
    height: auto;
  }
  footer{
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  footer > div{
    width: 100%;
    justify-content: center;
    margin-left: 25px;
  }
  header{
    flex-wrap: wrap;
    justify-content: center;
  }
  ul {
    width: 70%;
    justify-content: center;
    justify-content: space-between;
  }

}
