@font-face {
  font-family:"Dancing Script";
  src: url("Dancing Script.otf");
}
*{
  font-family: "Dancing Script";
}
header{
  background-color: #5b7989;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-between;
animation: slidein 1s;
}
@-webkit-keyframes slidein {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}

ul{
  display: flex;
  width: 30%;
  justify-content: center;
}

li{
  width: 30%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 25px;
}

a{
  color: white;
  text-decoration: none;
}

header > h1{
  text-shadow: 2px 2px 1px #02010a;
  color: white;
  margin-left: 40px;
}

#Galeria{
  display: flex;
  background-color: #d5c75f;
  flex-wrap: wrap;
  height: 800px;
  align-content: space-around;
  justify-content: space-around;
}

img{
  width: 30%;
  height: 40%;
}

#Galeria :nth-child(1){
  filter: blur(10px);
}
#Galeria :nth-child(even){
  filter: grayscale(100%);
}
#Galeria :nth-child(3){
  filter: sepia(90);
  filter:
}

footer{
  display:flex;
  background-color: #c6d5c5;
  justify-content: space-around;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

footer > div{
  width: 20%;
}

body{
  /* width: 900px; */
  /* margin-left: 20%; */
  background-color: #02010a;
}

@media (max-width:900px) {
  #Galeria{
    height: auto;
    align-content: space-between;
  }
  img{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  footer{
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  footer > div{
    width: 100%;
    justify-content: center;
    margin-left: 25px;
  }
  header{
    flex-wrap: wrap;
    justify-content: center;
  }
  ul {
    width: 70%;
    justify-content: center;
    justify-content: space-between;
  }

}
